
# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# macOS
*.DS_Store
._*

# Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Python
__pycache__/
*.py[cod]
*$py.class

# Pip
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# dotenv
.env

# mkdocs documentation
/site

# VSCode
.vscode/*
.history/
