# Project information
site_name: 'Nakama server'
site_description: 'Documentation for the Nakama realtime and social server for games and apps.'
site_author: 'Heroic Labs Team & contributors'
site_url: 'https://heroiclabs.com/docs/'
site_favicon: 'images/favicon.ico'
remote_name: 'origin'
remote_branch: 'gh-pages'

# Repository
repo_name: 'heroiclabs/nakama'
repo_url: 'https://github.com/heroiclabs/nakama'

# Copyright
copyright: 'Copyright &copy; 2017 Heroic Labs'

# Documentation and theme
theme: 'material'

# Options
extra:
  logo: 'images/logo-white.svg'
  palette:
    primary: 'indigo'
    accent: 'indigo'
  font:
    text: 'Roboto'
    code: 'Roboto Mono'
  social:
  - type: 'globe'
    link: 'https://heroiclabs.com'
  - type: 'github'
    link: 'https://github.com/heroiclabs'
  - type: 'twitter'
    link: 'https://twitter.com/heroicdev'
  - type: 'linkedin'
    link: 'https://www.linkedin.com/company/heroic-labs'

# Extensions
markdown_extensions:
  - admonition
  - codehilite(guess_lang=false)
  - toc(permalink=true)
  - markdown_fenced_code_tabs

# Nav menu
pages:
- 'Install and setup':
  - 'Docker quickstart': 'install-docker-quickstart.md'
  - 'Binary install': 'install-binary.md'
  - 'Configuration': 'install-configuration.md'
  - 'Nakama CLI': 'install-server-cli.md'
  - 'Upgrades': 'install-nakama-upgrade.md'
- 'Unity client guide': 'unity-client-guide.md'
- 'JavaScript client guide': 'javascript-client-guide.md'
- 'Swift/iOS client guide': 'swift-ios-client-guide.md'
#- 'Unreal engine': 'nakama-unreal-engine.md'
#- 'Android guide': 'nakama-android-guide.md'
- 'Authentication': 'authentication.md'
- 'User accounts': 'user-accounts.md'
- 'Storage Engine':
  - 'Collections': 'storage-collections.md'
#  - 'Permissions': 'storage-permissions.md'
#  - 'Record ownership': 'storage-record-ownership.md'
#  - 'Design patterns': 'storage-design-patterns.md'
- 'Social':
  - 'Friends': 'social-friends.md'
  - 'Groups and Clans': 'social-groups-clans.md'
  - 'In-app Notifications': 'social-in-app-notifications.md'
  - 'Realtime Chat': 'social-realtime-chat.md'
- 'Gameplay':
  - 'Leaderboards': 'gameplay-leaderboards.md'
  - 'Matchmaker': 'gameplay-matchmaker.md'
  - 'Realtime Multiplayer': 'gameplay-multiplayer-realtime.md'
#  - 'Turn-based Multiplayer': 'gameplay-multiplayer-turnbased.md'
- 'In-app Purchase Validation': 'in-app-purchase-validation.md'
- 'Runtime Code':
  - 'Basics': 'runtime-code-basics.md'
#  - 'Best practices': 'runtime-code-best-practices.md'
#  - 'Examples': 'runtime-code-examples.md'
#  - 'Recommended modules': 'runtime-code-recommended-modules.md'
#  - 'Lua for JavaScripters': 'runtime-lua-for-javascripters.md'
#  - 'JavaScript/Lua comparison': 'runtime-javascript-lua-comparison.md'
#  - 'Lua cheatsheet': 'runtime-lua-cheatsheet.md'
  - 'Function Reference': 'runtime-code-function-reference.md'
- 'Deployment':
#  - 'Production settings': 'deployment-production-settings.md'
#  - 'Resource limits': 'deployment-resource-limits.md'
#  - 'Managed Cloud': 'deployment-managed-cloud.md'
  - 'Digital Ocean': 'deployment-digital-ocean.md'
- 'Tutorials':
  - 'Add custom roles to groups': 'tutorial-add-custom-roles-to-groups.md'
  - 'Initialize a new user': 'tutorial-initialize-new-user.md'
  - 'Remote configuration': 'tutorial-remote-configuration.md'
#  - 'Dynamic leaderboards': 'tutorial-dynamic-leaderboards.md'
#  - 'Virtual wallet': 'tutorial-virtual-wallet.md'
#  - 'Inventory management': 'tutorial-inventory-management.md'
#  - 'Prized leaderboards': 'tutorial-prized-leaderboards.md'
#- 'Nakama enterprise': 'nakama-enterprise.md'
#- 'Internals':
#  - 'Server architecture': 'internal-nakama-server-architecture.md'
#  - 'Social graph engine': 'internal-nakama-social-graph-engine.md'
#  - 'Message router': 'internal-nakama-message-router.md'
#  - 'Network protocol': 'internal-nakama-network-protocol.md'
#  - 'Lua runtime': 'internal-nakama-lua-runtime.md'
#- 'Protocol reference': '#'
#- 'Release notes': '#'
