---
title: "Nakama Documentation | Open-source server for social and realtime games."
---

= wrap_layout :layout do
  %section.docs__wrapper
    %div.doc__container
      %nav.doc__sidebar
        %div.container
          = partial 'sidebar'
      %section.doc__content
        %div.container
          %article.doc__article
            = yield
